 
 
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 

body{
   font-family:"Inter", serif;
}



 .star{
    border-radius: 100%;
    width: 60px;
    height: 60px;
 }
 .star img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
 }
 

 .transferBTN::after{
   content: '';
   width: 103%;
   height: 2px;
   background-color: blue;
   position: absolute;
   top: -10px;
   left: -14px;
 }


 
  